<!doctype html>
<html>
	<head>
		<title>Arduino Web Controller - {% if board %} Board Does Not Exist {% else %} Board {{ board.name }}{% endif %}</title>
		<!-- CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/boards.css') }}">
	</head>
	<body>
	
	<!-- Nav bar -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Arduino Web Controller</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/">Home</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<!-- Main page -->
	{% if board %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<div class="container">
						<!-- Modals -->
						<div id="rgbModal" class="modal fade">
						    <div class="modal-dialog">
						        <div class="modal-content">
						            <div class="modal-header">
						                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						                <h4 class="modal-title"><span id="rgbModalTitle"></span></h4>
						            </div>
						            <div class="modal-body">
						                <p>
						                	R: <input id="rgbModalR" type="number" min="0" max="255" />
						                	G: <input id="rgbModalG" type="number" min="0" max="255" />
						                	B: <input id="rgbModalB" type="number" min="0" max="255" />
						                </p>
						                <input id="hiddenBoardName" type="text" style="display: none;" readonly value="{{ board.name }}" />
						            </div>
						            <div class="modal-footer">
						                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						                <button id="rgbModalSave" type="button" class="btn btn-primary">Save</button>
						            </div>
						        </div>
						    </div>
						</div>

						<div id="pulseModal" class="modal fade">
						    <div class="modal-dialog">
						        <div class="modal-content">
						            <div class="modal-header">
						                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						                <h4 class="modal-title"><span id="pulseModalTitle"></span></h4>
						            </div>
						            <div class="modal-body">
						                <p>
						                	Milliseconds: <input id="pulseModalMS" type="number" min="10" max="5000" value="1000" /> <br />
						                </p>
						                <input id="hiddenPulseSet" type="text" style="display: none;" readonly value="" />
						                <input id="hiddenNumSets" type="text" style="display: none;" readonly value="{{ board.rgb_led_groups|length }}" />
						            </div>
						            <div class="modal-footer">
						                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						                <button id="pulseModalOff" type="button" class="btn btn-danger" style="display: none;">Flip Off</button>
						                <button id="pulseModalOn" type="button" class="btn btn-success">Flip On</button>
						            </div>
						        </div>
						    </div>
						</div>


						<h2>{{ board.name }} Board Controls</h2>
						<div id="controlBoard">
							{% for rgb_led_group in board.rgb_led_groups %}
								{% if rgb_led_group.single_rgb_led %}
									<div class="panel panel-default">
										<div class="panel-body">
										{% for rgb in rgb_led_group.rgb_leds %}
											<button id="led-{{ rgb_led_group.id }}-{{ rgb.id }}" class="btn led-button" type="button" 
													style="background-color: rgb({{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }}) !important;">+</button>
											<button id="pulse-{{ rgb_led_group.id }}" type="button" class="btn btn-danger pulse-button">pulse</button>
										{% endfor %}
										</div>
									</div>
								{% elif rgb_led_group.more_than_ten %}
									<div class="panel panel-default">
										<div class="panel-body">
											<button id="led-set-{{ rgb_led_group.id }}" type="button" class="btn btn-primary led-set-button">all {{ rgb_led_group.rgb_leds|length }}</button>
											<button id="pulse-{{ rgb_led_group.id }}" type="button" class="btn btn-danger pulse-button">pulse</button>
										</div>
									</div>
								{% else %}
									<div class="panel panel-default">
										<div class="panel-body">
											{% for rgb in rgb_led_group.rgb_leds %}
												<button id="led-{{ rgb_led_group.id }}-{{ rgb.id }}" class="btn led-button" type="button" 
														style="background-color: rgb({{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }}) !important;">+</button>
											{% endfor %}
											<button id="led-set-{{ rgb_led_group.id }}" type="button" class="btn btn-primary led-set-button">all</button>
											<button id="pulse-{{ rgb_led_group.id }}" type="button" class="btn btn-danger pulse-button">pulse</button>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<div class="container">
						<h2>404 Board Does Not Exist</h2>
						<h4>Remember to have the script create a board first and carefully enter the name on the homepage!</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	<!-- JS -->
	<script src="{{ url_for('static', filename='js/jquery-1.12.2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/board-updates.js') }}"></script>
	</body>
</html>